import React from "react";
import * as S from "./styles";

const {{pascalCase pageName}} = () => {
return (
<S.{{pascalCase pageName}}Wrapper>
  <h1>{{pascalCase pageName}}</h1>
</S.{{pascalCase pageName}}Wrapper>
);
};

export default {{pascalCase pageName}};