import React from "react";
import * as S from "./styles";

const {{pascalCase name}} = () => {
return (
<S.{{pascalCase name}}Wrapper>
  <h1>{{pascalCase name}}</h1>
</S.{{pascalCase name}}Wrapper>
);
};

export default {{pascalCase name}};